# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.16/metricbeat-module-elasticsearch.html

- module: elasticsearch
  xpack.enabled: true
  scope: node
  metricsets:
    - node
    - node_stats
    - index
    - index_recovery
    - index_summary
    - shard
    - cluster_stats
    - enrich
    - pending_tasks
  period: 10s
  hosts: ["{{ metricbeat_monitoring_elasticsearch_protocol }}://localhost:{{ metricbeat_monitoring_elasticsearch_port }}"]
  username: "{{ metricbeat_monitoring_elasticsearch_monitoring_user }}"
  password: "{{ metricbeat_monitoring_elasticsearch_monitoring_pass }}"
  ssl.certificate_authorities: ["{{ esagent_ca_cert_path }}"]
  ssl.verification_mode: none