# Module: kibana
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.16/metricbeat-module-kibana.html

- module: kibana
  xpack.enabled: true
  period: 10s
  hosts: ["{{ metricbeat_monitoring_kibana_protocol }}://{{ metricbeat_monitoring_kibana_host }}:{{ metricbeat_monitoring_kibana_port }}"]
  username: "{{ metricbeat_monitoring_kibana_monitoring_user }}"
  password: "{{ metricbeat_monitoring_kibana_monitoring_pass }}"
  ssl.certificate_authorities: ["{{ esagent_ca_cert_path }}"]