# Module: logstash
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.16/metricbeat-module-logstash.html

- module: logstash
  xpack.enabled: true
  period: 10s
  hosts: ["{{ esagent_logstash_host }}:{{ esagent_logstash_port }}"]
  #username: "user"
  #password: "secret"