{{ ansible_managed | comment }}

[Unit]
Description="{{ esagent }}"
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ esagent_user }}
Group={{ esagent_group }}
WorkingDirectory={{ esagent_home_path }}

ExecStart={{ esagent_home_path }}/{{ esagent }} -c {{ esagent_conf_path }}/{{ esagent }}.yml

Restart=on-failure
RestartSec=3

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target