
# ================================== General ===================================
name: "{{ inventory_hostname }}"
# The tags of the shipper are included in their own field with each
# transaction published.
tags: [{%for tag in filebeat_tags_list %}"{{ tag }}"{% if not loop.last %},{% endif %}{% endfor %}]

fields:
 env: {{ filebeat_env_fields }}
#==========================  Modules configuration =============================

filebeat.modules:
#-------------------------------- System Module --------------------------------
- module: system
  syslog:
    enabled: true
# #---------------------------- Elasticsearch Module ----------------------------
{% if filebeat_enabled_conf is defined %}
{% if 'elasticsearch' in filebeat_enabled_conf %}
- module: elasticsearch
  # Server log
  server:
    enabled: true
    var.paths:
      - "{{ filebeat_elastic_server_log_path }}/*_server.json"
  gc:
    enabled: true
    var.paths:
      - "{{ filebeat_elastic_server_log_path }}/jvm/gc.log"
#      - "{{ filebeat_elastic_server_log_path }}/jvm/gc.log.[0-9]*"
  audit:
    enabled: true
    var.paths:
      - "{{ filebeat_elastic_server_log_path }}/*_audit.json"
  slowlog:
    enabled: true
    var.paths:
      - "{{ filebeat_elastic_server_log_path }}/*_index_indexing_slowlog.json"
      - "{{ filebeat_elastic_server_log_path }}/*_index_search_slowlog.json"
  deprecation:
    enabled: true
    var.paths:
      - "{{ filebeat_elastic_server_log_path }}/*_deprecation.json"
{% endif %}
# #-------------------------------- Kibana Module --------------------------------
{% if 'kibana' in filebeat_enabled_conf %}
- module: kibana
  log:
    enabled: true
    var.path: "{{ filebeat_kibana_logs_path }}"
  audit:
    enabled: true
    var.path: "{{ filebeat_kibana_logs_path }}"
{% endif %}
{% endif %}
# ======================= Elasticsearch template setting =======================
setup:
  template:
    enabled: true
    settings:
      index.number_of_shards: 1
      index.codec: best_compression
      #_source.enabled: false
# ================================= Dashboards =================================
  dashboards.enabled: false
  ilm:
    enabled: true
    overwrite: true
    # policy_file: "{{ filebeat_ilm_policy_file }}"

# =================================== Kibana ===================================
  kibana:
    host: "{{ esagent_kibana_protocol }}://{{ esagent_kibana_host }}:{{ esagent_kibana_port }}"
  #space.id:
    protocol: "https"
    username: "elastic"
    password: "elastic"
    ssl.enabled: true
    ssl.verification_mode: full
    ssl.certificate_authorities: ["{{ esagent_ca_cert_path }}"]
# ================================== Outputs ===================================
# ---------------------------- Elasticsearch Output ----------------------------
output:
  elasticsearch:
    username: "{{ esagent_elasticsearch_user }}"
    password: "{{ esagent_elasticsearch_password }}"
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]

# ================================= Processors =================================
# Configure processors to enhance or manipulate events generated by the beat.
processors:
  - add_host_metadata: ~
  # - add_cloud_metadata: ~
  # - add_docker_metadata: ~
  # - add_kubernetes_metadata: ~

# ================================== Logging ===================================
# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publisher", "service".
#logging.selectors: ["*"]

# ============================= X-Pack Monitoring ==============================
monitoring:
  enabled: true
  cluster_uuid: "{{ esagent_elasticsearh_uuid }}"
  elasticsearch:
    username: "{{ esagent_monitoring_user }}"
    password: "{{ esagent_monitoring_password }}"
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]
