############################# Heartbeat ######################################
# ================================== General ===================================
name: "{{ inventory_hostname }}"
# The tags of the shipper are included in their own field with each
# transaction published.
tags: [{%for tag in heartbeat_tags_list %}"{{ tag }}"{% if not loop.last %},{% endif %}{% endfor %}]

fields:
 env: {{ heartbeat_env_fields }}

#==========================  Modules configuration =============================
# Define a directory to load monitor definitions from. Definitions take the form
# of individual yaml files.
heartbeat.config.monitors:
  # Directory + glob pattern to search for configuration files
  path: ${path.config}/monitors.d/*.yml
  # If enabled, heartbeat will periodically check the config.monitors path for changes
  reload.enabled: false
  # How often to check for changes
  reload.period: 5s

# Configure monitors inline
heartbeat.monitors:
- type: http
  # Set enabled to true (or delete the following line) to enable this example monitor
  enabled: true
  # ID used to uniquely identify this monitor in elasticsearch even if the config changes
  id: my-monitor
  # Human readable display name for this service in Uptime UI and elsewhere
  name: My Monitor
  # List or urls to query
  urls: ["{{ heartbeat_monitoring_elastic_protocol }}://{{heartbeas_elastic_user}}:{{heartbeas_elastic_pass}}@{{ heartbeat_monitoring_elastic_host }}:{{ heartbeat_monitoring_elastic_port }}"]
  # Configure task schedule
  schedule: '@every 10s'
  # Total test connection and data exchange timeout
  #timeout: 16s
  # Name of corresponding APM service, if Elastic APM is in use for the monitored service.
  #service.name: my-apm-service-name
  ssl:
    certificate_authorities: ["{{ esagent_ca_cert_path }}"]

# Experimental: Set this to true to run heartbeat monitors exactly once at startup
#heartbeat.run_once: true

# ======================= Elasticsearch template setting =======================
setup:
  template:
    enabled: true
    settings:
      index.number_of_shards: 1
      index.codec: best_compression
      #_source.enabled: false
# ================================= Dashboards =================================
  dashboards.enabled: false
  ilm:
    enabled: true
    overwrite: true
    # policy_file: "{{ heartbeat_ilm_policy_file }}"

# =================================== Kibana ===================================
  kibana:
    host: "{{ esagent_kibana_protocol }}://{{ esagent_kibana_host }}:{{ esagent_kibana_port }}"
  #space.id:
    protocol: "https"
    username: "elastic"
    password: "elastic"
    ssl.enabled: true
    ssl.verification_mode: full
    ssl.certificate_authorities: ["{{ esagent_ca_cert_path }}"]
# ================================== Outputs ===================================
# ---------------------------- Elasticsearch Output ----------------------------
output:
  elasticsearch:
    username: "{{ esagent_elasticsearch_user }}"
    password: "{{ esagent_elasticsearch_password }}"
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]

# ------------------------------ Logstash Output -------------------------------
#output.logstash:
  # The Logstash hosts
  #hosts: ["localhost:5044"]

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]

  # Certificate for SSL client authentication
  #ssl.certificate: "/etc/pki/client/cert.pem"

  # Client Certificate Key
  #ssl.key: "/etc/pki/client/cert.key"

# ================================= Processors =================================

processors:
  - add_observer_metadata:
      # Optional, but recommended geo settings for the location Heartbeat is running in
      #geo:
        # Token describing this location
        #name: us-east-1a
        # Lat, Lon "
        #location: "37.926868, -78.024902"


# ================================== Logging ===================================

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publisher", "service".
#logging.selectors: ["*"]

# ============================= X-Pack Monitoring ==============================
monitoring:
  enabled: true
  cluster_uuid: "{{ esagent_elasticsearh_uuid }}"
  elasticsearch:
    username: "{{ esagent_monitoring_user }}"
    password: "{{ esagent_monitoring_password }}"
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]