# ================================== General ===================================
name: "{{ inventory_hostname }}"
# The tags of the shipper are included in their own field with each
# transaction published.
tags: [{%for tag in metricbeat_tags_list %}"{{ tag }}"{% if not loop.last %},{% endif %}{% endfor %}]

fields:
 env: {{ metricbeat_env_fields }}

# =========================== Modules configuration ============================
metricbeat.config.modules:
  path: "{{ esagent_modules_path }}/*.yml"
  reload:
    enabled: true
    period: 10s

# ======================= Elasticsearch template setting =======================
setup:
  template:
    enabled: true
    settings:
      index.number_of_shards: 1
      index.codec: best_compression
      #_source.enabled: false
# ================================= Dashboards =================================
  ilm:
    enabled: false
    overwrite: false
    # policy_file: "{{ metricbeat_ilm_policy_file }}"

# =================================== Kibana ===================================
  kibana:
    host: "{{ esagent_kibana_protocol }}://{{ esagent_kibana_host }}:{{ esagent_kibana_port }}"
  #space.id:
    protocol: "https"
    username: "elastic"
    password: "elastic"
    ssl.enabled: true
    ssl.verification_mode: full
    ssl.certificate_authorities: ["{{ esagent_ca_cert_path }}"]
# ================================== Outputs ===================================
# Configure what output to use when sending the data collected by the beat.
# ---------------------------- Elasticsearch Output ----------------------------
output:
  elasticsearch:
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    username: "{{ esagent_elasticsearch_user }}"
    password: "{{ esagent_elasticsearch_password }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]

# ================================= Processors =================================
# Configure processors to enhance or manipulate events generated by the beat.
processors:
  - add_host_metadata: ~
  # - add_cloud_metadata: ~
  # - add_docker_metadata: ~
  # - add_kubernetes_metadata: ~

# ================================== Logging ===================================
# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publisher", "service".
#logging.selectors: ["*"]

# ============================= X-Pack Monitoring ==============================
monitoring:
  enabled: true
  cluster_uuid: "{{ esagent_elasticsearh_uuid }}"
  elasticsearch:
    username: "elastic"
    password: "elastic"
    hosts: [ {%for host in esagent_elasticsearch_hosts %}"{{ esagent_elasticsearch_protocol }}://{{ host.fqdn }}:{{ host.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    protocol: "{{ esagent_elasticsearch_protocol }}"
    ssl:
      enabled: true
      verification_mode: full
      certificate_authorities: ["{{ esagent_ca_cert_path }}"]
