{{ ansible_managed | comment }}

[Unit]
Description=Kibana
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ kibana_user }}
Group={{ kibana_group }}

Environment=KBN_HOME={{ kibana_home_path }}
Environment=KBN_PATH_CONF={{ kibana_conf_path }}

EnvironmentFile=-/etc/default/kibana
EnvironmentFile=-/etc/sysconfig/kibana

ExecStart={{ kibana_home_path }}/bin/kibana --pid.file="{{ kibana_home_path }}/kibana.pid"

Restart=on-failure
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60

WorkingDirectory={{ kibana_home_path }}

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target