##----------------------------------- kibana ------------------------------------------
server.name: "{{ ansible_host }}"
server.host: "{{ kibana_server_host }}"
server.port: "{{ kibana_server_port }}"
server.publicBaseUrl: "{{ kibana_server_protocol }}://{{ inventory_hostname }}"
monitoring.ui.ccs.enabled: false
##-------------------------------- System: Logging ------------------------------------
# Set the value of this setting to off to suppress all logging output, or to debug to log everything. Defaults to 'info'
logging.root.level: info

# Enables you to specify a file where Kibana stores log output.
logging.appenders.default:
  type: rolling-file
  fileName: "{{ kibana_log_path }}/kibana.log"
  policy:
    type: size-limit
    size: 5MB  ##{variablisie]}
  strategy:
    type: numeric
    pattern: '-%i'
    max: 1   ##{variablisie]}
  layout:
    type: json
# Logs queries sent to Elasticsearch.
#logging.loggers:
#  - name: elasticsearch.query
#    level: debug

# Logs http responses.
#logging.loggers:
#  - name: http.server.response
#    level: debug

# Logs system usage information.
#logging.loggers:
#  - name: metrics.ops
#    level: debug
##----------------------------------- server ssl --------------------------------------
server.ssl.enabled: True
server.ssl.certificate: "{{ kibana_pub_cert_path }}"
server.ssl.key: "{{ kibana_key_cert_path }}"

##------------------------------- elastic config --------------------------------------
elasticsearch.hosts: ["{{ kibana_elastic_protocol }}://{{ kibana_elastic_host }}:{{ kibana_elastic_port }}"]
elasticsearch.ssl.certificateAuthorities: [ "{{ kibana_ca_cert_path }}" ]
elasticsearch.ssl.verificationMode: full
