{{ ansible_managed | comment }}

[Unit]
Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=elasticsearch
PrivateTmp=true
Environment=ES_HOME={{ elastic_home_path }}
Environment=ES_PATH_CONF={{ elastic_conf_path }}
Environment=PID_DIR={{ elastic_run_path }}
Environment=ES_SD_NOTIFY=true
Environment=ES_TMPDIR={{ elastic_tmp_path }}
EnvironmentFile=-{{ elastic_home_path }}/sysconfig/elasticsearch

WorkingDirectory={{ elastic_home_path }}

User={{ elastic_user }}
Group={{ elastic_group }}

ExecStart={{ elastic_home_path }}/bin/elasticsearch -p ${PID_DIR}/elasticsearch.pid --quiet

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# elasticsearch logging system is initialized. Elasticsearch
# stores its logs in /var/log/elasticsearch and does not use
# journalctl by default. If you also want to enable journalctl
# logging, you can simply remove the "quiet" option from ExecStart.
StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE={{ elastic_open_files }}

# Specifies the maximum number of processes
LimitNPROC={{ elastic_num_thread }}

# Specifies the maximum size of virtual memory
LimitAS={{ elastic_memusage }}
LimitMEMLOCK={{ elastic_memlock }}

# Specifies the maximum file size
LimitFSIZE={{ elastic_size_files }}

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Send the signal only to the JVM rather than its control group
KillMode=process

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

# Allow a slow startup before the systemd notifier module kicks in to extend the timeout
TimeoutStartSec=75

[Install]
WantedBy=multi-user.target

# Built for packages-{{ elastic_version }} (packages)