{{ ansible_managed | comment }}

# ======================== Elasticsearch Configuration =========================
# ---------------------------------- Cluster -----------------------------------
# Use a descriptive name for your cluster:
cluster.name: "{{ elastic_cluster_name }}"
## cluster.routing.allocationawarness.attributes: { es_node_attribute.awarness }
## cluster.routing.allocationawarness.force.{ es_node_attribute.awarness }.values: { value_attributes }
# ------------------------------------ Node ------------------------------------
# Use a descriptive name for the node:
node.name: "{{ ansible_host }}"
{% if elastic_roles is defined %}
node.roles: [{%for role in elastic_roles %}"{{ role }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
# Add custom attributes to the node:
# node.attr.rack: r1
# node.attr.{ es_node_attribute.awarness }: r1
# ----------------------------------- Paths ------------------------------------
path.data: "{{ elastic_data_path }}"
path.logs: "{{ elastic_log_path }}"
# ----------------------------------- Memory -----------------------------------
# Lock the memory on startup:
bootstrap.memory_lock: True
# ---------------------------------- Network -----------------------------------
network.host: "{{ elastic_network_host }}"
http.port: "{{ elastic_http_port }}"
transport.port: "{{ elastic_transport_port }}"
# --------------------------------- Discovery ----------------------------------
discovery.seed_hosts:
{% for item in elastic_discovery_seed_hosts %}
  - {{ item }}
{% endfor %}
{% if (elastic_roles is not defined) or ('master' is in elastic_roles and is_first_starting_cluster) %}
cluster.initial_master_nodes:
{% for item in elastic_cluster_initial_master_nodes %}
  - {{ item }}
{% endfor %}
{%endif%}
# ---------------------------------- Various -----------------------------------
#action.destructive_requires_name: True
# ---------------------------------- Security ----------------------------------
xpack.security.enabled: True

xpack.security.transport.ssl.enabled: True
xpack.security.transport.ssl.key: "{{ elastic_key_cert_path }}"
xpack.security.transport.ssl.certificate: "{{ elastic_pub_cert_path }}"
xpack.security.transport.ssl.certificate_authorities: "{{ elastic_ca_cert_path }}"
xpack.security.transport.ssl.client_authentication: required

xpack.security.http.ssl.enabled: True
xpack.security.http.ssl.key: "{{ elastic_key_cert_path }}"
xpack.security.http.ssl.certificate: "{{ elastic_pub_cert_path }}"
xpack.security.http.ssl.certificate_authorities: "{{ elastic_ca_cert_path }}"
xpack.security.http.ssl.client_authentication: optional
