{{ ansible_managed | comment }}

################################################################
##
## JVM configuration
##
################################################################

-Xms{{ elastic_node_jvm }}
-Xmx{{ elastic_node_jvm }}

################################################################
## Expert settings
################################################################

## JVM temporary directory
-Djava.io.tmpdir=${ES_TMPDIR}

# specify an alternative path for heap dumps; ensure the directory exists and
# has sufficient space
-XX:HeapDumpPath={{ elastic_data_path }}

# specify an alternative path for JVM fatal error logs
-XX:ErrorFile={{ elastic_log_jvm_path }}/hs_err_pid%p.log

# GC logging
-Xlog:gc*,gc+age=trace,safepoint:file={{ elastic_log_jvm_path }}/gc.log:utctime,pid,tags:filecount=2,filesize=64m